body {
  padding: 0;
  margin: 0;
  background-image: url("../images/Background.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%; }

header {
  padding: 0;
  margin: 0;
  height: 78px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1; }
  header .logo {
    margin-left: 18px;
    width: 200px;
    display: inline-block; }
  header .phone {
    width: 150px;
    height: 24px;
    background-color: #185480;
    -webkit-box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.22);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: right;
    margin-top: 14px;
    margin-right: 15px; }
    header .phone img {
      margin-left: 6px;
      margin-top: 1px; }
    header .phone span {
      color: #fff;
      position: absolute;
      margin-left: 12px;
      line-height: 1.5;
      font-size: 18px;
      font-family: "Myriad Pro";
      text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.75); }
    header .phone p {
      margin: 0;
      margin-left: 22px;
      font-family: "Myriad Pro";
      font-size: 12px;
      color: #74787b;
      text-transform: uppercase;
      line-height: 2; }

.head {
  padding: 0;
  margin: 0;
  width: 980px;
  height: 37px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1;
  border-bottom: 2px solid #185480; }
  .head ul {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 944px; }
    .head ul li {
      padding: 0;
      margin: 0;
      list-style: none;
      float: left;
      display: inline-block;
      margin-left: 2px; }
      .head ul li a {
        padding: 0;
        margin: 0;
        display: inline-block;
        font-family: "Myriad Pro";
        font-size: 15px;
        height: 37px;
        padding-right: 30px;
        padding-left: 30px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        line-height: 2.8;
        background-color: #57b1fb;
        -webkit-border-radius: 5px  5px 0 0;
        border-radius: 5px  5px 0 0;
        color: #fff; }
    .head ul li:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
      .head ul li:hover a {
        background-color: #fff;
        color: #d24602;
        font-weight: bold; }
    .head ul .lang {
      position: absolute;
      float: right;
      margin-left: 730px;
      z-index: 20; }
      .head ul .lang #lang {
        border: none;
        width: 112px;
        height: 24px;
        display: inline-block;
        background-color: #FFF;
        margin-top: 4px;
        margin-left: 90px;
        background-image: url("../images/lang.png");
        background-repeat: no-repeat;
        background-position: 70%;
        z-index: 10; }

.line {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  height: 2px;
  border-bottom: 2px solid #d6d6d6; }

.site-body {
  padding: 0;
  margin: 0;
  height: 1053px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  background-color: #FFF; }
  .site-body .banner {
    float: right;
    width: 662px;
    height: 414px;
    margin-right: 16px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #ebebe8;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat; }

footer .foot-menu {
  height: 120px;
  width: 980px;
  margin-left: 16px; }
  footer .foot-menu ul li {
    list-style: none;
    float: left;
    margin-left: 10px;
    margin-top: 30px; }
    footer .foot-menu ul li a {
      text-decoration: none;
      font-family: "Verdana";
      font-size: 12px;
      color: #6f7274; }

.copyright {
  display: inline-block;
  width: 200px;
  float: right;
  margin-top: 32px;
  font-family: "Verdana";
  font-size: 12px; }
