body {
  padding: 0;
  margin: 0;
  background-image: url("../images/vk_com_oboihd_15231.jpg");
  background-image: url("../images/Background.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%; }

header {
  padding: 0;
  margin: 0;
  height: 78px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1; }
  header .logo {
    margin-left: 18px;
    width: 200px;
    display: inline-block; }
  header .phone {
    width: 150px;
    height: 24px;
    background-color: #185480;
    -webkit-box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.22);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: right;
    margin-top: 14px;
    margin-right: 15px; }
    header .phone img {
      margin-left: 6px;
      margin-top: 1px; }
    header .phone span {
      color: #fff;
      position: absolute;
      margin-left: 12px;
      line-height: 1.5;
      font-size: 18px;
      font-family: "Myriad Pro";
      text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.75); }
    header .phone p {
      margin: 0;
      margin-left: 22px;
      font-family: "Myriad Pro";
      font-size: 12px;
      color: #74787b;
      text-transform: uppercase;
      line-height: 2; }

.head {
  padding: 0;
  margin: 0;
  width: 980px;
  height: 37px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1;
  border-bottom: 2px solid #185480; }
  .head ul {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 944px; }
    .head ul li {
      padding: 0;
      margin: 0;
      list-style: none;
      float: left;
      display: inline-block;
      margin-left: 2px; }
      .head ul li a {
        padding: 0;
        margin: 0;
        display: inline-block;
        font-family: "Myriad Pro";
        font-size: 15px;
        height: 37px;
        padding-right: 30px;
        padding-left: 30px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        line-height: 2.8;
        background-color: #57b1fb;
        -webkit-border-radius: 5px  5px 0 0;
        border-radius: 5px  5px 0 0;
        color: #fff; }
    .head ul li:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
      .head ul li:hover a {
        background-color: #fff;
        color: #d24602;
        font-weight: bold; }
    .head ul #lang {
      border: none;
      width: 112px;
      height: 24px;
      display: inline-block;
      background-color: #FFF;
      margin-top: 4px;
      margin-left: 80px;
      z-index: 20;
      background-image: url("../images/lang.png");
      background-repeat: no-repeat;
      background-position: 70%;
      z-index: 100; }

.line {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  height: 2px;
  border-bottom: 2px solid #d6d6d6; }

.site-body {
  padding: 0;
  margin: 0;
  height: 1053px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  background-color: #FFF; }
  .site-body .calculator {
    width: 264px;
    height: 414px;
    margin-left: 16px;
    display: inline-block;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #ebebe8; }
    .site-body .calculator span {
      display: inline-block;
      margin-top: 10px;
      margin-left: 6px;
      font-size: 18px;
      font-family: "Myriad Pro";
      font-weight: bold;
      color: #0e4d7c; }
    .site-body .calculator .holy-search {
      height: 372px;
      width: 252px;
      background-color: #FFF;
      margin-left: 6px;
      margin-top: 6px; }
      .site-body .calculator .holy-search form span {
        font-family: "Verdana";
        font-weight: bold;
        font-size: 12px;
        margin-top: 22px;
        margin-left: 8px; }
      .site-body .calculator .holy-search form .where {
        margin-top: 10px; }
      .site-body .calculator .holy-search form #dest {
        width: 236px;
        height: 26px;
        margin-left: 8px;
        margin-right: 8px;
        color: #6f7274; }
      .site-body .calculator .holy-search form .when {
        margin-left: 8px; }
        .site-body .calculator .holy-search form .when #num {
          width: 52px;
          height: 26px;
          color: #6f7274;
          border: 1px solid #d2caca; }
        .site-body .calculator .holy-search form .when #mounth {
          width: 95px;
          height: 26px;
          color: #6f7274;
          border: 1px solid #d2caca;
          margin-left: 8px; }
        .site-body .calculator .holy-search form .when #year {
          width: 66px;
          height: 26px;
          color: #6f7274;
          border: 1px solid #d2caca;
          margin-left: 8px; }
      .site-body .calculator .holy-search form .duration {
        margin-left: 8px; }
        .site-body .calculator .holy-search form .duration #duration {
          width: 236px;
          height: 26px;
          color: #6f7274;
          border: 1px solid #d2caca; }
      .site-body .calculator .holy-search form .board {
        margin-left: 8px; }
        .site-body .calculator .holy-search form .board span {
          margin-left: 0; }
        .site-body .calculator .holy-search form .board .wr-board .wr-star {
          display: inline; }
        .site-body .calculator .holy-search form .board #board {
          width: 110px;
          height: 26px;
          color: #6f7274;
          border: 1px solid #d2caca; }
        .site-body .calculator .holy-search form .board #star {
          width: 110px;
          height: 26px;
          color: #6f7274;
          margin-left: 12px;
          border: 1px solid #d2caca; }
      .site-body .calculator .holy-search button {
        width: 162px;
        height: 36px;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        font-family: "Myriad Pro";
        font-size: 18px;
        cursor: pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #f47f11;
        border-radius: 5px;
        background-image: -webkit-gradient(linear, left top, right top, from(#f47c0e), to(#faa848));
        background-image: -webkit-linear-gradient(left, #f47c0e 0%, #faa848 100%);
        background-image: -o-linear-gradient(left, #f47c0e 0%, #faa848 100%);
        background-image: linear-gradient(90deg, #f47c0e 0%, #faa848 100%);
        -webkit-box-shadow: 1px 1.732px 2px 0px rgba(2, 0, 0, 0.21);
        box-shadow: 1px 1.732px 2px 0px rgba(2, 0, 0, 0.21); }
  .site-body .banner {
    float: right;
    width: 662px;
    height: 414px;
    margin-right: 16px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #ebebe8;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat; }
  .site-body #star {
    margin-left: 60px; }

aside {
  display: inline-block; }
  aside .top-dest {
    display: inline-block;
    height: 504px;
    width: 264px;
    margin-left: 16px;
    margin-top: 16px;
    border: 1px solid #e5e2c4;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    aside .top-dest span {
      display: inline-block;
      margin-top: 10px;
      margin-left: 6px;
      margin-bottom: 6px;
      font-size: 18px;
      font-family: "Myriad Pro";
      font-weight: bold;
      color: #0e4d7c; }
    aside .top-dest .top-item {
      height: 84px;
      width: 253px;
      margin-left: 5px;
      margin-top: 1px;
      background-color: #ebebe8; }
      aside .top-dest .top-item img {
        display: inline-block;
        width: 107px;
        height: 66px;
        margin-left: 6px;
        margin-top: 6px;
        border: 3px solid #fff; }
      aside .top-dest .top-item div {
        display: inline-block;
        width: 120px;
        height: 100;
        float: right; }
        aside .top-dest .top-item div h5 {
          margin: 0;
          display: inline-block;
          line-height: 3;
          color: #0e4d7c;
          font-size: 12px;
          font-family: "Verdana";
          font-weight: bold; }
        aside .top-dest .top-item div p {
          display: inline-block;
          margin: 0;
          font-size: 12px;
          font-family: "Verdana";
          font-weight: bold; }
    aside .top-dest p {
      display: inline-block;
      margin-top: 8px;
      margin-left: 12px; }
      aside .top-dest p a {
        text-decoration: none;
        font-family: "Myriad Pro";
        font-weight: bold;
        color: #0e4d7c; }

article {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  padding-right: 16px;
  padding-top: 25px; }
  article span {
    display: block;
    margin-left: 14px;
    color: #0e4d7c;
    font-family: "Myriad Pro";
    font-weight: bold;
    font-size: 18px; }
  article .wrap-featured-item {
    display: inline-block;
    float: left;
    width: 212px;
    height: 222px;
    background-color: #ebebe8;
    margin-left: 13px;
    margin-top: 13px;
    border: 1px solid #e5e2c4;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    article .wrap-featured-item .featured-item {
      width: 200px;
      height: 210px;
      background-color: #FFF;
      margin-left: 6px;
      margin-top: 6px; }
      article .wrap-featured-item .featured-item img {
        width: 188;
        height: 152px;
        margin-left: 6px;
        margin-top: 6px; }
      article .wrap-featured-item .featured-item span {
        margin: 0;
        margin-top: 6px;
        margin-bottom: 6px;
        font-size: 12px;
        font-family: "Verdana";
        color: #1987cb;
        font-weight: bold;
        text-align: center; }
      article .wrap-featured-item .featured-item p {
        margin: 0;
        font-size: 12px;
        font-family: "Verdana";
        color: #6f7274;
        font-weight: bold;
        text-align: center; }
        article .wrap-featured-item .featured-item p i {
          color: #ff6600; }

footer .foot-menu {
  height: 120px;
  width: 980px;
  background-color: rgba(255, 255, 255, 0.21); }
