article{
	margin: 0;
	padding: 0;
	display: inline-block;
	float: right;
	padding-right: 16px;
	padding-top: 25px;
	span{
		display: block;
		margin-left: 14px;
		color: #0e4d7c;
		font-family: "Myriad Pro";
		font-weight: bold;
		font-size: 18px;
	}
	.wrap-featured-item{
		display: inline-block;
		float: left;
		width: 212px;
		height: 222px;
		background-color: #ebebe8;
		margin-left: 13px;
		margin-top: 13px;
		border: 1px solid #e5e2c4;
		border-radius: 5px;
		.featured-item{
			width: 200px;
			height: 210px;
			background-color: #FFF;
			margin-left: 6px;
			margin-top: 6px;
			img{
				width: 188;
				height: 152px;
				margin-left: 6px;
				margin-top: 6px;

			}
			span{
				margin: 0;
				margin-top: 6px;
				margin-bottom: 6px;
				font-size: 12px;
			  	font-family: "Verdana";
			  	color: rgb(25, 135, 203);
			  	font-weight: bold;
			  	text-align: center;
			  	a{
			  		margin: 0;
					margin-top: 6px;
					margin-bottom: 6px;
					font-size: 12px;
				  	font-family: "Verdana";
				  	color: rgb(25, 135, 203);
				  	font-weight: bold;
				  	text-decoration: none;
				  	text-align: center;
			  	}
			  	
			}
			p{	
				margin: 0;
				font-size: 12px;
			  	font-family: "Verdana";
			  	color: #6f7274;
			  	font-weight: bold;
			  	text-align: center;
			  	i{
			  		color: #ff6600;
			  	}
			}
		}
		
	}
	.wrap-featured-item:hover{
			background-color: #ebebe8;
			.featured-item:hover{
				background-color: #ebebe8;
			}
		}
	
}